* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #f3f3f3;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li {
  cursor: pointer;
  transition: 0.3s;
}

nav ul li:hover {
  color: #00c3ff;
}

/* PAGES */
.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
  animation: fade 0.5s ease;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* HOME CATEGORIES */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.cat {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.cat:hover {
  transform: scale(1.05);
}

.cat img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
  margin-top: 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.size-btn {
  padding: 7px 12px;
  margin: 5px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.size-btn:hover {
  background: #00c3ff;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
}

button {
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00c3ff;
}
